@model List<TeacherModel>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Striped Table</h4>
            <p class="card-description">
                Add class <code>.table-striped</code>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Subject</th>
                            <th>Social Facebook</th>
                            <th>Social Twitter</th>
                            <th>Social LinkedIn</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cls in Model)
                        {
                            <tr>
                                @*<td class="py-1"><img src="@cls.ImageUrl" alt="image"></td>*@
                                <td>@cls.Name</td>
                                <td>@cls.Subject</td>
                                <td>@cls.Social.LinkFacebook</td>
                                <td>@cls.Social.LinkedTwitter</td>
                                <td>@cls.Social.LinedLinkedIn</td>
                                <td>
                                    <a class="btn btn-primary">Edit</a>
                                    <a class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>